@import "../../_variable";

.want__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;

  .want {
    border-radius: 0 0 2rem 2rem;
    transition: 0.3s;
    cursor: pointer;
    background-color: transparent;
    color: $font-color;

    &:hover {
      .want__header {
        background-color: $accent-color;
        color: $bg-color;
      }

      .want__content {
        bottom: -1.7rem;
      }

      .strong {
        color: $accent-color;
      }
    }

    .want__header {
      background-color: $bg-color-light;
      padding: 1rem;
      border-radius: 0 0 1rem 1rem;
      box-shadow: 0 2rem 1rem rgba($color: #000000, $alpha: 0.1);
      text-align: center;
      color: $accent-color-dark;
      transition: 1s;
      position: relative;
      z-index: 2;

      .want-icon {
        font-size: 1.5rem;
        margin-top: 0.3rem;
      }
    }

    .want__content {
      position: relative;
      bottom: 6rem;
      padding: 0 1rem 1rem;
      text-align: center;
      border-radius: 0 0 2rem 2rem;
      z-index: 1;
      transition: 1s ease-in-out;

      p {
        > strong {
          color: $font-color;
          transition: 0.5s;
          transition-delay: 1s;
        }
      }
    }
  }
}

/* 미디어 쿼리 (medium) */
@media screen and (max-width: 1024px) {
  .want__container {
    grid-template-columns: 1fr;
    gap: 2rem;

    .want__content {
      bottom: 6rem !important;
    }
  }

  .want {
    margin: 0 auto;
    width: 80%;

    &:hover {
      .want__content {
        bottom: -1.4rem !important;
      }
    }
  }
}

/* 미디어 쿼리 (small) */
@media screen and (max-width: 600px) {
  .want__container {
    gap: 2rem;

    .want__content {
      bottom: 5rem !important;
    }

    .want {
      height: fit-content;
      width: 100%;

      &:hover {
        .want__content {
          bottom: -1.2rem !important;
        }
      }

      .want__header {
        padding: 0.7rem !important;
      }
    }
  }
}
