@import "../../_variable";

.contact__container {
  display: flex;
  flex-direction: column;

  .contact__options {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 2rem;

    // article
    .contact__option {
      width: 14rem;
      overflow: hidden;
      padding: 1.2rem;
      border-radius: 1.2rem;
      text-align: center;
      border: $border-trans;
      transition: 0.3s;
      color: $font-color;

      &:hover {
        background-color: $accent-color;
        color: $font-color-black;
        box-shadow: 0 0 1rem $accent-color;

        .link-icon {
          color: $font-color-black;
          transition: 0.3s;

          &:hover {
            color: $accent-color-dark;
          }
        }
      }

      .contact__option-icon {
        font-size: 1.5rem;
      }

      a {
        display: inline-block;
        font-size: 0.8rem;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 90%;
    max-width: 720px;
    margin: 0 auto;

    .input-box {
      width: 100%;

      input,
      textarea {
        width: 100%;
        transition: 0.3s;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: transparent;
        border: $border-accent;
        resize: none;
        color: $font-color;

        &:valid ~ span,
        &:focus ~ span {
          color: $accent-color;
          background-color: #202028;
          left: 1.1rem;
          border-left: $border-accent;
          border-right: $border-accent;
          font-size: 0.8rem;
        }

        &:valid ~ span {
          background-color: $accent-color;
          color: $font-color-black;
          border-radius: 0.3rem;
        }
      }

      // input, textarea의 height가 다르기 때문에 분리
      input {
        &:valid ~ span,
        &:focus ~ span {
          bottom: 4.15rem;
        }
      }

      textarea {
        &:valid ~ span,
        &:focus ~ span {
          bottom: 15.9rem;
        }
      }

      span {
        position: relative;
        padding: 0 0.5rem;
        pointer-events: none;
        font-size: 0.9rem;
        text-transform: uppercase;
        transition: 0.3s;
        left: 0.8rem;
        color: $font-color;
      }

      .name,
      .email {
        bottom: 2.58rem;
      }
      .message {
        bottom: 14.4rem;
      }
    }

    button {
      margin: 0 auto;
    }
  }
}

/* 미디어 쿼리 (medium) */
@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;

    .contact__options {
      gap: 0.6rem;

      .contact__option {
        padding: 0.6rem !important;
      }
    }
  }
}

/* 미디어 쿼리 (small) */
@media screen and (max-width: 600px) {
  .contact__container {
    width: $container-width-sm;

    .contact__options {
      flex-direction: column;
      margin: 0 auto;
    }

    form {
      width: 100%;

      .input-box {
        width: 100%;
        input,
        textarea {
          width: 100%;
        }
      }
    }
  }
}
