@import "../../_variable";

.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;

  .contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    // article
    .contact__option {
      background-color: $bg-color-light;
      padding: 1.2rem;
      border-radius: 1.2rem;
      text-align: center;
      border: $border-trans;
      transition: 0.3s;

      &:hover {
        background-color: transparent;
        border: $border-accent;
      }

      .contact__option-icon {
        font-size: 1.5rem;
      }

      a {
        display: inline-block;
        font-size: 0.8rem;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    input,
    textarea {
      width: 100%;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: transparent;
      border: $border-bg;
      resize: none;
      color: $font-color;
      transition: 0.3s;

      &:focus {
        background-color: $font-color;
        color: black;
      }
    }
  }
}

/* 미디어 쿼리 (medium) */
@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* 미디어 쿼리 (small) */
@media screen and (max-width: 600px) {
  .contact__container {
    width: $container-width-sm;
  }
}
