@import "../../../_variable.scss";

.title__wrapper {
  height: 3rem;
  margin: 0.5rem 0 2rem;
  overflow: hidden;

  .slide-title {
    color: $accent-color;
    text-align: center;
    animation: slide-up 8s infinite forwards normal ease-in-out;

    h2 {
      font-size: 1.8rem;
      color: $accent-color;
      // &:nth-child(1) {
      //   background-color: red;
      // }
      // &:nth-child(2) {
      //   background-color: greenyellow;
      // }
      // &:nth-child(3) {
      //   background-color: blue;
      // }
    }
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(-6.1rem);
  }
}

/* 미디어 쿼리 (small) */
@media screen and (max-width: 600px) {
  .slide-title {
    > h2 {
      font-size: 1.5rem !important;
      line-height: 3.063rem;
      height: 3.063rem;
    }
  }
}
