$bg-color: #181834;
$bg-color-light: #2d2d60;

$test: #f23444;

$accent-color: #4db5ff;
$accent-color-dark: #347fb4;

$font-color: #ffffff;
$font-color-light: #e3e3e3;
$font-color-dark: #bebebe;

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;
