@import "./_variable";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "EliceDigitalBaeum_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;

  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(
    180deg,
    $bg-color-light,
    $bg-color,
    rgb(35, 35, 35)
  );
  color: $font-color;
  line-height: 1.7;
}

/* 공통 스타일 */
.container {
  width: $container-width-lg;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  align-items: center;

  .main__container {
    padding: 2rem 0 4rem;
    margin: 0 auto;
    width: 100%;

    > h4 {
      text-align: center;
      color: $font-color-light;
    }
  }
}

.text-light {
  color: $font-color-dark;
}

a {
  color: $accent-color;
  transition: 0.3s;

  &:hover {
    color: $accent-color-dark;
  }
}

.btn {
  text-align: center;
  width: max-content;
  min-width: 89px;
  display: inline-block;
  color: $accent-color;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid $accent-color-dark;
  transition: 0.3s;
  box-shadow: 0 0.2rem 0 $accent-color-dark;

  &:hover {
    box-shadow: 0 0.5rem 0 $accent-color-dark;
    color: $font-color;
    transform: translateY(-0.3rem);
  }

  &:active {
    background-color: $accent-color;
    box-shadow: 0 0.1rem 0 $accent-color-dark;
    transform: translateY(0.1rem);
  }
}

.btn-primary {
  text-align: center;
  background-color: $accent-color;
  color: $bg-color;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.kor {
  font-family: "EliceDigitalBaeum_Regular";
}

/* 미디어 쿼리 (medium) */
@media screen and (max-width: 1024px) {
  .container {
    width: $container-width-md;
  }

  section {
    margin-top: 6rem;
  }
}

/* 미디어 쿼리 (small) */
@media screen and (max-width: 600px) {
  .container {
    width: $container-width-sm;
  }
}

// 애니메이션
@keyframes modal {
  from {
    transform: translate(-50%, 500%);
    opacity: 0;
  }
  to {
    transform: translateY(-50%, 0);
    opacity: 1;
  }
}

.modal-open-animation {
  animation: modal 1s ease;
}
.modal-close-animation {
  animation: modal 1s ease reverse;
}
